<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet"/>
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"
		media="screen,projection" />
	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<meta charset="UTF-8">
	<title>Hotel App</title>
	
</head>
<body>
	
	<h3>Algo deu Errado !!!</h3>
	<h5>Verifique se os campos foram preenchidos corretamente.</h5>
	</br>
	<a class="waves-effect waves-light btn" href="/hotelApi/">Voltar</a>	
</body>
</html>